{% extends "courses/base.html" %}


{% block content%}
    
<header class="hero">
    <h1> Bewn vindo á Academia Mont</h1>
    <p> tranforme seu corpo e sua mente com treinos personalizados e
        alcance seus objestivos de forma efeciente.<p/>
    <a href="#" class="btn btn-light btn-lg mt-3">Explore Nossos Planos</a>
    </header>

    <main class="container my-5">
        <section class="text-center">
          <h2 class="mb-5">fsadfasdwasdwad</h2>
          <p class="mb-5">asdwasdfasd</p>
          <div class="row mb-4">
            <div class="col-md-4">
              <div class="card shadow border-light">
                <div class="card-body">
                  <h5 class="card-title mb-3">sadfasdwedfadqawd</h5>
                  <p class="card-text">sadfasdwedfadqawd</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card shadow border-light">
                <div class="card-body">
                  <h5 class="card-title mb-3">sadfasdwedfadqawd</h5>
                  <p class="card-text">sadfasdwedfadqawd</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card shadow border-light">
                <div class="card-body">
                  <h5 class="card-title mb-3">sadfasdwedfadqawd</h5>
                  <p class="card-text">sadfasdwedfadqawd</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
{% endblock %}

